  <ion-modal-view hide-nav-bar="true">
    <ion-error></ion-error>
    <ion-header-bar>  
      <div class="buttons">
        <button class="button ion-android-close" ng-click="fecharReuniaoModal()"></button>
      </div>
      <h1 class="title">Reunião</h1>
       <div class="buttons">
        <button class="button" ng-click="confirmaReuniao()">OK</button>
      </div>
    </ion-header-bar>
    <ion-content class="content">
      <div class="col">
        <div>
          <span class="input-label">Vidio conferencia?</span>
          <input type="checkbox" ng-model="vconferencia">
        </div>
      </div>
      <div class="col" ng-if="!vconferencia">
        <label class="item-input item-floating-label">
          <span class="input-label">Local</span>
          <input type="text" placeholder="Local" ng-model="novaReuniao.local">
        </label>
      </div>
      <div class="col">
        <label class="item-input item-floating-label">
          <span class="input-label">Nome da reunião</span>
          <input type="text" placeholder="Nome" ng-model="novaReuniao.nome">
        </label>
      </div>
      <div class="col">
        <span>Sobre a reunião</span>
        <label class="item-input">
          <br>
          <textarea name="" id="" cols="30" rows="10" ng-model="novaReuniao.desc"></textarea>
        </label>
      </div>
      <div class="col">
        <span>Presentes</span>
        <label class="item-input">
          <select ng-model="next">
            <option ng-repeat="medico in medicos">{{medico.name}}</option>
          </select>
        </label>
      </div>
      <button class="button-round" ng-click="addConvidados(next)">
        Convidar
      </button>
      <div class="convidados">
        <div ng-repeat="convidado in convidados track by $index">
          {{convidado}}
        </div>
      </div>
    </ion-content>
  </ion-modal-view>